
/* -------------------------------- Fix ie -----------------------------------*/

#desinscription form input[type=submit] {
	width: 230px;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
}

#container {
	position: static;
}

input[type=submit], input[type=submit]:active, input[type=submit]:focus, input[type=submit]:hover {
	color: black !important; 
	text-shadow: 0 !important;
	
}

section#first_part #about .content {
	background: #111111 url('../images/bg_black.png') repeat;
}

section#first_part #intro .content {
	background: #171717 url('../images/bg_grey.png') repeat;
}