
/* -------------------------------- RESET -----------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/* ------ clearfix -------- */

.clearfix {height:1%}

.clearfix:after {

	content:".";

	height:0;

	line-height:0;

	display:block;

	visibility:hidden;

	clear:both;

}


/* -------------------------------- FORMATAGE -----------------------------------*/

html {
	height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	background: #171717;
	min-height: 100%;
}

/* couleur de selection */

*::selection {
	background: #ffba00;
	color:#FFF;
}

*::-moz-selection {
	background: #ffba00;
	color:#FFF;
}

*::-webkit-selection {
	background: #ffba00;
	color:#FFF;
}

/* font-face */

@font-face {
    font-family: Interstate;
	src: url('../fontface/Interstate-BoldCompressed.eot');
	src: url('../fontface/Interstate-BoldCompressed.otf') format('truetype'),
	     url('../fontface/Interstate-BoldCompressed.woff') format('woff'),
	     url('../fontface/Interstate-BoldCompressed.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}



/* -------------------------------- MISE EN PAGE -----------------------------------*/


/* ///////////////// HEADER ////////////////// */

header {
	position: fixed;
/*	width: 100%; */
	height: 79px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	-webkit-box-shadow: 0 1px #0d0d0d;
	-moz-box-shadow: 0 1px #0d0d0d;
	box-shadow: 0 1px #0d0d0d;
}

header.top {
	background: #0a0a0a;
}

header .wrapper {
	width: 82%;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
}

header .wrapper h1 {
	float: left;
}

header .wrapper h1 .logo {
	display: block;
	background: no-repeat url('../images/logo_clapps.png');
	width: 111px;
	height: 80px;
	text-indent: -9999px;
}

header .wrapper nav {
	float: left;
	margin-left: 40%;
}

header .wrapper nav ul {
	margin-top: 26px;
}

header .wrapper nav ul li {
	float: left;
	margin-right: 20px;
}

header .wrapper nav ul li a {
	display: block;
	position: relative;
	text-decoration: none;
	color: #c2c2c2;
	font-size: 13px;
	text-transform: uppercase;
	padding: 7px 14px;
	line-height: 16px;
}

header .wrapper nav ul li a span {
	position: absolute;
	color: #df0f19;
	font-size: 9px;
	font-weight: bold;
	top: -5px;
	right: -3px;
}

header .wrapper nav ul li.current a {
	font-weight: bold;
	color: #171717;
	text-shadow: 0 1px #ffc240;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #ffb71c;
	-webkit-box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	-moz-box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	background-image: -webkit-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -moz-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -o-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -ms-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: linear-gradient(to bottom, #ffb71c, #ce8d00 99%);
}

header .wrapper nav ul li.current a span {
	display: none;
}

header .wrapper .follow {
	float: right;
	margin-top: 27px;
	width: 64px;
	height: 27px;
	background: #0b1113;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 #5479c5;
	-moz-box-shadow: 0 0 #5479c5;
	box-shadow: 0 0 #5479c5;
	border: solid 1px rgba(255,255,255,.09);
}

header .wrapper .follow li {
	float: left;
	width: 31px;
	height: 27px;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}

header .wrapper .follow li.fb_link {
	border-right: 1px solid #1c1c1c;
	-webkit-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

header .wrapper .follow li.twitter_link {
	-webkit-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

header .wrapper .follow li.fb_link:hover {
	background: #3b5998;
}

header .wrapper .follow li.twitter_link:hover {
	background: #00aaea;
}

header .wrapper .follow li a {
	text-decoration: none;
	display: block;
	text-indent: -9999px;
}

header .wrapper .follow li.fb_link a {
	background: no-repeat url('../images/fb_link.png') 12px 6px;
	height: 27px;
}

header .wrapper .follow li.twitter_link a {
	background: no-repeat url('../images/twitter_link.png') 10px 6px;
	height: 27px;
}

/* ///////////////// CONTENT ////////////////// */

section.part {
	min-width: 960px;
}


/* ///////////////// FIRST PART ////////////////// */

section#first_part {
	position: relative;
	width: 100%;
	height: 730px;
	z-index: 500;
}

section#first_part .col {
	position: absolute;
	height: 100%;
}

section#first_part .col .content {
	position: absolute;
	height: 100%;
}

/* === LEFTCOL === */

section#first_part .left_col {
	width: 44.78%;
	left: 0;
}

section#first_part .left_col .wrapper {
	position: absolute;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #1d1d1d;
	z-index: 100;
}

section#first_part .left_col .content {
	width: 78.5%;
	min-width: 418px;
	border-right: 1px solid #1e1e1e;
	right: 0px;
}

section#first_part .left_col .content .text {
	color: #b1b1b1;
	line-height: 16px;
	margin-right: 40px;
}

section#first_part .left_col .content .text p {
	margin-bottom: 20px;
}


/* === INTRO === */

section#first_part #intro {
	background: #171717 url('../images/bg_grey.png') repeat;
	z-index: 20;
}

section#first_part #intro .text {
	margin-top: 140px;
}

section#first_part #intro .text .hang h2 {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 10px;
	width: 100%;
}

section#first_part #intro .text .hang h2 strong {
	color: #f7b018;
	margin-left: 5px;
}

section#first_part #intro .text .hang h3 {
	color: #fff;
	font-size: 14px;
	margin-bottom: 27px;
}

section#first_part #intro .text .desc strong {
	color: #ececec;
}

section#first_part #intro .text  #buttonAbout {
	float: left;
	display: block;
	margin: 5px 0 40px 0;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	padding: 6px 18px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #232323;
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
}

section#first_part #intro .text  #buttonAbout:hover {
	color: #c6c6c6;
}

section#first_part #intro .text form {
	clear: both;
	border-bottom: 1px solid #1d1d1d;
}

section#first_part #intro .text form legend {
	display: block;
	width: 100%;
	color: #ffffff;
	line-height: 17px;
	padding-bottom: 15px;
	border-bottom: 1px solid #0d0d0d;
}

section#first_part #intro .text form legend span {
	color: #ffae00;
	font-weight: bold;
}

section#first_part #intro .text form .field {
	position: relative;
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #0d0d0d;
	padding: 16px 0;
}

section#first_part #intro .text form .field input[type=text] {
	display: block;
	font-size: 14px;
	color: #111;
	height: 17px;
	width: 63%;
	padding: 10px 35% 10px 2%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff url('../images/loader.gif') no-repeat 98% center;
	border: solid 1px #212121;
}

section#first_part #intro .text form .field input::-webkit-input-placeholder {
	color: #111;
}
section#first_part #intro .text form .field input:-moz-placeholder {
	color: #111;
}
section#first_part #intro .text form .field input::-moz-placeholder {
	color: #111;
}
section#first_part #intro .text form .field input:-ms-input-placeholder {
	color: #111;
}

section#first_part #intro .text form .field input[type=submit],
section#first_part #intro .text form .field button {
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: -3px;
	padding: 10px 12px;
	line-height: 17px;
	font-size: 13px;
	color: #0f0f0f;
	font-family: "Droid Sans";
	text-shadow: 0 1px #ffb61a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	-webkit-box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	-moz-box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	background-color: #ffb71c;
	background-image: -webkit-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -moz-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -o-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -ms-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: linear-gradient(to bottom, #ffb71c, #ce8d00 99%);
}

section#first_part #intro .text form .field input[type=submit]:hover,
section#first_part #intro .text form .field button:hover {
	color: #2c2c2c;
}

section#first_part #intro .text form .field button span {
	font-weight: bold;
}

section#first_part #intro .text #error_subscribe {
	margin-top: 15px;
	color: #f42323;
}


/* === ABOUT === */

section#first_part #about {
	background: #111111 url('../images/bg_black.png') repeat;
	z-index: 10;
}

section#first_part #about .content #buttonBackAbout {
	display: block;
	float: left;
	margin: 110px 0 20px 0;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	padding: 6px 18px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #232323;
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
}


section#first_part #about .content #buttonBackAbout:hover {
	color: #c6c6c6;
}

section#first_part #about .content .about_content {
	clear: both;
}

section#first_part #about .content .about_content .text h2 {
	text-transform: uppercase;
	color: #e09c0a;
	font-weight: bold;
	line-height: 17px;
}

/* === RIGHTCOL === */

section#first_part .right_col {
	background: #171717;
	right: 0;
	width: 55.31%;
	z-index: 9;
}

section#first_part .right_col .wrapper {
	height: 79px;
	background: #0a0a0a;
	z-index: 20;
}

section#first_part .right_col .slider {
	position: relative;
	width: 100%;
	height: 650px;
	overflow: hidden;
}

section#first_part .right_col .slider ul {
	position: absolute;
}

/* display */

section#first_part .right_col .slider ul.slider_display {
	width: 100%;
	height: 100%;
}

section#first_part .right_col .slider .display {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
}

section#first_part .right_col .slider .display.current {
	z-index: 6;
}

section#first_part .right_col .slider .display img {
	position: absolute;
	width: auto;
	height: 100%;
}

section#first_part .right_col .slider .display img.elm {
	z-index: 15;
}

section#first_part .right_col .slider .display img.fond {
	z-index: 10;
}

/* desc */

section#first_part .right_col .slider .slider_desc {
	position: absolute;
	left: 10%;
	top: 15%;
	z-index: 20;
}

section#first_part .right_col .slider .slider_desc li {
	display: none;
}

section#first_part .right_col .slider .slider_desc li.current {
	display: block;
}

section#first_part .right_col .slider .slider_desc li div span {
	display: block;
	float: left;
	background: #0e0e0e;
	color: #ffffff;
	font-size: 25px;
	line-height: 40px;
	text-transform: uppercase;
	margin: 3px 0;
	padding: 0 15px;
}

section#first_part .right_col .slider .slider_desc li div span strong {
	font-weight: bold;
}

/* control */

section#first_part .right_col .slider .slider_control {
	height: 20px;
	z-index: 20;
	bottom: 25px;
	right: 15%;
}

section#first_part .right_col .slider .slider_control li {
	float: left;
	margin-right: 7px;
}

section#first_part .right_col .slider .slider_control li a {
	display: block;
	width: 16px;
	height: 16px;
	background: repeat url('../images/item_nav_slider.png');
	text-indent: -9999px;
}

section#first_part .right_col .slider .slider_control li.current a {
	background: repeat url('../images/item_current_nav_slider.png');
}

/* frame */

section#first_part .right_col .slider .slider_frame {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 15;
	background: repeat url('../images/bg_frame.png');
}

section#first_part .right_col .content {
	color: white;
	width: 81.8%;
/*	min-width: 531px;*/
	left: 0;
	/*padding-top: 185px;*/
}



/* /////////////////// SECOND PART /////////////////// */

section#second_part {
	position: relative;
	width: 100%;
	height: 750px;
	background: #e9e9e9;
	z-index: 400;
}

section#second_part .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 365px;
	background: #e1e1e1;
	z-index: 100;
}

section#second_part .content {
	position: relative;
	top: 0;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	z-index: 200;
}

section#second_part .content .title {
	padding-top: 110px;
}

section#second_part .content .title h2 {
	text-align: center;
	font-size: 18px;
	color: #3a3a3a;
	line-height: 22px;
}

section#second_part .content .title span {
	font-weight: bold;
}

section#second_part .content > img {
	display: block;
	margin: 40px auto 0;
}

section#second_part .content #appli_button {
	position: absolute;
	top: 300px;
	right: 48px;
	display: block;
	text-decoration: none;
	font-family: "Droid Sans";
	font-size: 14px;
	font-weight: bold;
	color: #0f0f0f;
	text-shadow: 0 1px #ffb61a;
	padding: 0 16px;
	height: 33px;
	line-height: 33px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffb310;
	-webkit-box-shadow: 0 1px #f4f4f4, inset 0 1px #ffc445;
	-moz-box-shadow: 0 1px #f4f4f4, inset 0 1px #ffc445;
	box-shadow: 0 1px #f4f4f4, inset 0 1px #ffc445;
	background-image: -webkit-linear-gradient(top, #ffb310, #e19900);
	background-image: -moz-linear-gradient(top, #ffb310, #e19900);
	background-image: -o-linear-gradient(top, #ffb310, #e19900);
	background-image: -ms-linear-gradient(top, #ffb310, #e19900);
	background-image: linear-gradient(to bottom, #ffb310, #e19900);
}

section#second_part .content .subcontent {
	position: absolute;
	top: 460px;
	width: 100%;
}

section#second_part .content .subcontent .desc {
	width: 825px;
	margin: 0 auto;
}

section#second_part .content .subcontent .col_left {
	float: left;
	width: 475px;
	font-size: 13px;
	color: #4b4b4b;
}

section#second_part .content .subcontent .col_left h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

section#second_part .content .subcontent .col_left p {
	margin-bottom: 20px;
	line-height: 15px;
}

section#second_part .content .subcontent .col_left strong {
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
}

section#second_part .content .subcontent .col_right {
	float: right;
	width: 300px;
}

section#second_part .content .subcontent .col_right li {
	font-size: 14px;
	color: #707070;
	line-height: 16px;
	margin-bottom: 28px;
	padding-left: 40px;
}

section#second_part .content .subcontent .col_right li:nth-child(1) {
	background: no-repeat url('../images/icon_appli_1.png');
}

section#second_part .content .subcontent .col_right li:nth-child(2) {
	background: no-repeat url('../images/icon_appli_2.png');
}

section#second_part .content .subcontent .col_right li:nth-child(3) {
	background: no-repeat url('../images/icon_appli_3.png');
}

section#second_part .content .subcontent .col_right li span {
	color: #212121;
	font-weight: bold;
}


/* /////////////////// THIRD PART ////////////////// */

section#third_part {
	position: relative;
	width: 100%;
	height: 750px;
	background: #171717 url('../images/bg_grey.png') repeat;
	z-index: 300;
}

section#third_part .content {
	padding-top: 140px;
	width: 675px;
	margin: 0 auto;
}

section#third_part .content h2 {
	color: #ffffff;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Interstate, 'Droid Sans', arial;
	padding-bottom: 19px;
	border-bottom: 1px solid #121212;
}

section#third_part .content > p {
	font-size: 13px;
	color: #ffffff;
	line-height: 17px;
	padding: 22px 0 35px 0;
	border-top: 1px solid #202020;
}

section#third_part .content > p span {
	font-weight: bold;
}

section#third_part .content #contact > p {
	margin: 15px 0 34px;
	line-height: 18px;
	padding-right: 30px;
}

section#third_part .content #contact > p span {
	font-weight: bold;
}

section#third_part .content #contact #leftCol {
	float: left;
	width: 320px;
	background: #0e0e0e;
	border: 1px solid #1e1e1e;
	-moz-border-radius:  2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow:inset 0 0 1px #000000;
	-moz-box-shadow:inset 0 0 1px #000000; 
	-webkit-box-shadow:inset 0 0 1px #000000;
}

section#third_part .content #contact #leftCol > p {
	padding: 18px 0 12px 9px;
	margin: 0 10px;
	font-size: 12px;
	color: #c4c4c4;
	border-bottom: 1px solid #000000;
}

section#third_part .content #contact #leftCol > p span {
	font-weight: bold;
}

section#third_part .content #contact #leftCol ul li {
	width: 300px;
	height: 58px;
	margin: 0 10px;
	border-top: 1px solid #171717;
	border-bottom: 1px solid #080808;
	overflow: hidden;
	position: relative;
}

section#third_part .content #contact #leftCol ul li.last {
	border-bottom: 0;
	margin-bottom: 7px;
}

section#third_part .content #contact #leftCol ul li a {
	position: relative;
	left: -20px;
	text-decoration: none;
	display: block;
	margin: 3px 0;
	padding-left: 17px;
	height: 52px;
	border-left: 8px solid #ffa800;
}

section#third_part .content #contact #leftCol ul li a img {
	float: left;
	margin-top: 6px;
	border: 1px solid #0f1b1f;
	width: 36px;
	height: 36px;
	margin-right: 13px;
}

section#third_part .content #contact #leftCol ul li a strong {
	font-weight: bold;
	display: block;
	font-size: 13px;
	color: #d0d0d0;
	padding-top: 9px;
	line-height: 17px;
}

section#third_part .content #contact #leftCol ul li a:hover strong {
	color: #ffa800;
}

section#third_part .content #contact #leftCol ul li a em  {
	color: #ffffff;
	display: block;
}

section#third_part .content #contact #leftCol ul li.active a h3 {
	color: #ffa800;
}

section#third_part .content #contact form {
	float: right;
	width: 321px;
	margin-right: 10px;
	position: relative;
}

section#third_part .content #contact form .field {
	position: relative;
}

section#third_part .content #contact form input {
	padding: 10px;
	height: 18px;
	line-height: 18px;
	width: 301px;
	margin: 5px 0;
	font-size: 14px;
	-moz-border-radius:  3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
}

section#third_part .content #contact form span {
	display: none;
}

section#third_part .content #contact form span.error {
	display: block;
	position: absolute;
	right: 9px;
	top: 13px;
	width: 24px;
	height: 21px;
	background: no-repeat url('../images/error_input.png');
}


section#third_part .content #contact form textarea {
	height: 180px;
	width: 301px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	overflow: hidden; 
	-moz-border-radius:  3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	margin: 5px 0;
	resize: none;
}

section#third_part .content #contact form #blocButton {
	position: relative;
}

section#third_part .content #contact form input[type=submit] {
	cursor: pointer;
	width: auto;
	padding: 0 10px;
	position: absolute;
	right: 0;
	height: 30px;
	margin: 12px 0 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #1a1919;
	text-shadow: 0 1px #ffa800;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;		
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	background-color: #ffa800;
	background-image: -webkit-linear-gradient(top, #ffa800, #d78e00);
	background-image: -moz-linear-gradient(top, #ffa800, #d78e00);
	background-image: -o-linear-gradient(top, #ffa800, #d78e00);
	background-image: -ms-linear-gradient(top, #ffa800, #d78e00);
	background-image: linear-gradient(to bottom, #ffa800, #d78e00);
}

section#third_part .content #contact form #formMsg {
	position: absolute;
	top: 11px;
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #e6f0d8;
	width: 307px;
	line-height: 15px;
	padding: 7px 0 7px 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

section#third_part .content #contact form #formMsg.good {	
	background-color: #65a612;
	border: solid 1px #76bc1c;
}

section#third_part .content #contact form #formMsg.error {
	background-color: #a61c12;
	border: solid 1px #b72e25;
}


/* /////////////////// SINGLE PART /////////////////// */


#single_part {
	height: 100%;
}

#single_part #page {
	position: relative;
	min-height: 100%;
}

#single_part header #backHome {
	display: block;
	float: right;
	margin-top: 25px;
	padding: 7px 13px;
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #171717;
	text-shadow: 0 1px #ffc240;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	-moz-box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	box-shadow: 0 2px 2px #101010, inset 0 -1px #eeaa18;
	background-color: #ffb71c;
	background-image: -webkit-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -moz-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -o-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: -ms-linear-gradient(top, #ffb71c, #ce8d00 99%);
	background-image: linear-gradient(to bottom, #ffb71c, #ce8d00 99%);
}

#single_part header #backHome:hover {
	color: #3b3b3b;
}

#single_part section {
	width: 100%;
	height: 100%;
	background: #171717 url('../images/bg_grey.png') repeat;
}

#single_part section .content {
	padding: 130px 0 50px 0;
	width: 665px;
	margin: 0 auto;
}

#single_part section .content h1 {
	color: #ffffff;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Interstate, 'Droid Sans', arial;
	padding-bottom: 19px;
	border-bottom: 1px solid #121212;
}

#single_part section .content .text {
	font-size: 13px;
	color: #ffffff;
	line-height: 17px;
	padding: 22px 0 35px 0;
	border-top: 1px solid #202020;
}

#single_part section .content .text h2 {
	font-size: 13px;
	font-weight: bold;
	color: #ff9c00;
	text-transform: uppercase;
}

#single_part section .content .text ul {
	margin-bottom: 25px;
}

#single_part section .content .text ul li span {
	font-weight: bold;
	padding-right: 5px;
}

#single_part section .content .text p {
	margin-bottom: 25px;
}

#single_part section .content .text p a {
	color: #ff9c00;
}

#single_part section .content .text p span {
	font-weight: bold;
}

#single_part footer {
	position: absolute;
	bottom : 0px;
}


/* ////////////////// FOOTER //////////////////// */

footer {
	height: 50px;
	width: 100%;
	background: #0a0a0a;
	min-width: 960px;
}

footer .wrapper {
	width: 82%;
	min-width: 940px;
	height: 100%;
	margin: 0 auto;
}

footer .wrapper div {
	float: left;
	color: #282828;
	font-size: 13px;
	line-height: 16px;
	padding: 17px 0;
}

footer .wrapper div span {
	font-weight: bold;
}

footer .wrapper nav {
	float: right;
}

footer .wrapper nav ul {
	line-height: 16px;
	padding: 16px 0;
}

footer .wrapper nav ul li {
	display: inline;
	padding-left: 15px;
}

footer .wrapper nav ul li a {
	text-decoration: none;
	color: #646464;
	font-size: 13px;
}

footer .wrapper nav ul li.current a {
	color: #ffc240;
}

/* -------------------------------- OVERLAY -----------------------------------*/

body.bloc-overlay {
	background: 0;
/*	height: 100%; */
	color: #FFF;
	min-height: 400px;
}

body.bloc-overlay form p {
	position: relative;
}

body.bloc-overlay form input {
	display: block;
	border: 0;
	background: #FFF;
	padding: 0 10px;
	color: #6a6a6a;
	font-size: 14px;
	background: #ebe4e4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebe4e4));
	background: -moz-linear-gradient(top,#fff,#ebe4e4);
	-moz-border-radius:  4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 0px #272f30;
	-webkit-box-shadow: 1px 1px 0px #272f30;
	box-shadow: 1px 1px 0px #272f30;
}

body.bloc-overlay form span {
	display: none;
}

body.bloc-overlay form span.error {
	display: block;
	position: absolute;
	right: 9px;
	top: 8px;
	width: 24px;
	height: 21px;
	background: no-repeat url('../images/error_input.png');
}

body.bloc-overlay form textarea {
	resize: none;
	border: 0;
	background: #FFF;
	padding: 10px;
	color: #686868;
	font-size: 14px;
	background: #ebe4e4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebe4e4));
	background: -moz-linear-gradient(top,#fff,#ebe4e4);
	-moz-border-radius:  4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 0px #272f30;
	-webkit-box-shadow: 1px 1px 0px #272f30;
	box-shadow: 1px 1px 0px #272f30;
}

body.bloc-overlay form button {
	cursor: pointer;
	float: right;
	padding: 0 15px;
	font-size: 13px;
	font-weight: bold;
	color: #1a1919;
	text-align: center;
	text-shadow: 0 1px #ffa800;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	background-color: #ffa800;
	background-image: -webkit-linear-gradient(top, #ffa800, #d78e00);
	background-image: -moz-linear-gradient(top, #ffa800, #d78e00);
	background-image: -o-linear-gradient(top, #ffa800, #d78e00);
	background-image: -ms-linear-gradient(top, #ffa800, #d78e00);
	background-image: linear-gradient(to bottom, #ffa800, #d78e00);
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
}

body.bloc-overlay form input[type=submit] {
	width: auto;
	cursor: pointer;
	float: right;
	padding: 0 15px;
	font-size: 13px;
	font-weight: bold;
	color: #1a1919;
	text-align: center;
	text-shadow: 0 1px #ffa800;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	background-color: #ffa800;
	background-image: -webkit-linear-gradient(top, #ffa800, #d78e00);
	background-image: -moz-linear-gradient(top, #ffa800, #d78e00);
	background-image: -o-linear-gradient(top, #ffa800, #d78e00);
	background-image: -ms-linear-gradient(top, #ffa800, #d78e00);
	background-image: linear-gradient(to bottom, #ffa800, #d78e00);
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #ffa800;
}

body.bloc-overlay #formMsg {
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #e6f0d8;
	width: 307px;
	line-height: 15px;
	padding: 7px 0 7px 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

body.bloc-overlay #formMsg.good {	
	background-color: #65a612;
	border: solid 1px #76bc1c;
}

body.bloc-overlay #formMsg.error {
	background-color: #a61c12;
	border: solid 1px #b72e25;
}

body.bloc-confirmation {
	max-width: 670px;
}

body.bloc-confirmation h2 {
	font-size: 29px;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0; 
	border-bottom: 0;
}

body.bloc-confirmation .msg_confirm {
	color: #fea800;
	display: block;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
}

body.bloc-confirmation .bloc {
	text-align: center;
	margin: 32px 0 10px;
	font-size: 14px;
	line-height: 15px;
}

body.bloc-confirmation .bloc p{
	line-height: 16px;
}

body.bloc-confirmation .bloc span {
	font-weight: bold;
}

/* Confirmation inscription */

body#confirmation {
	width: 630px;
	margin: 0 auto;
}

body#confirmation form {
	width: 560px;
	margin: 0 auto;
	position: relative;
}

body#confirmation form input[type=text] {
	height: 15px;
	font-size: 13px;
	line-height: 15px;
	padding: 12px 10px;
	width: 162px;
	color: #6a6a6a;
	float: left;
	margin: 0 2px;
}

body#confirmation form input[type=submit] {
	display: block;
	float: none;
	height: 30px;
	width: 239px;
	margin: 30px auto 0;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}

body#confirmation form button {
	display: block;
	float: none;
	height: 30px;
	width: 239px;
	margin: 30px auto 0;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}

body#confirmation form #formMsg {
	position: absolute;
	padding: 7px 12px;
	width: 529px;
	text-align: center;
}

body#confirmation form #formMsg.good {
	bottom: 0px;
}

body#confirmation form #formMsg.error {
	top: 120px;
}

body#confirmation .follow {
	display: none;
	width: 423px;
	margin: 35px auto 0;
}

body#confirmation .follow li {
	float: left;
	margin: 0 23px;
}

body#confirmation .follow li div {
	padding-bottom: 7px;
}

body#confirmation .follow li div span {
	font-weight: bold;
}

body#confirmation .follow li a {
	display: block;
	text-indent: -9999px;
	width: 165px;
	height: 33px;
}

body#confirmation .follow li a.fb {
	background: no-repeat url('../images/button_facebook.png');
}

body#confirmation .follow li a.twitter {
	background: no-repeat url('../images/button_twitter.png');
}

/* Validation */

body#validation p.informe {
	margin-top: 15px;
	text-align: center;
}

body#validation .bloc {
	margin: 18px 0;
	line-height: 16px;
}

body#validation em {
	display: block;
	color: #FFF;
	font-style: italic;
	text-align: center;
}

body#validation .follow {
	width: 423px;
	margin: 35px auto 0;
}

body#validation .follow li {
	float: left;
	margin: 0 23px;
}

body#validation .follow li div {
	padding-bottom: 7px;
}

body#validation .follow li div span {
	font-weight: bold;
}

body#validation .follow li a {
	display: block;
	text-indent: -9999px;
	width: 165px;
	height: 33px;
}

body#validation .follow li a.fb {
	background: no-repeat url('../images/button_facebook.png');
}

body#validation .follow li a.twitter {
	background: no-repeat url('../images/button_twitter.png');
}


/* Confirmation desinscription */

body#desinscription {
	margin: 0 auto;
}

body#desinscription .bloc {
	margin: 4px 0 26px;
}

body#desinscription form {
	width: 471px;
	position: relative;
	margin: 0 auto;
}

body#desinscription form textarea {
	width: 451px; 
	height: 53px;
	margin-bottom: 16px;
}

body#desinscription form a {
	float: left;
	display: block;
	height: 16px;
	line-height: 16px;
	padding: 7px 15px;
	text-decoration: none;
	text-align: center;
	color: #1a1919;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 1px #cdcdcd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	background-color: #d3d3d3;
	background-image: -webkit-linear-gradient(top, #d3d3d3, #a0a0a0);
	background-image: -moz-linear-gradient(top, #d3d3d3, #a0a0a0);
	background-image: -o-linear-gradient(top, #d3d3d3, #a0a0a0);
	background-image: -ms-linear-gradient(top, #d3d3d3, #a0a0a0);
	background-image: linear-gradient(to bottom, #d3d3d3, #a0a0a0);
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #c9c9c9;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #c9c9c9;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 -1px #c9c9c9;
}

body#desinscription form button {
	float: right;
	font-size: 13px;
	height: 30px;
	line-height: 16px;
	padding: 0px 15px;
	font-family: 'Droid Sans', sans-serif;
}

body#desinscription form input[type=submit] {
	float: right;
	font-size: 13px;
	height: 30px;
	padding: 0px 15px;
	font-family: 'Droid Sans', sans-serif;
}

body#desinscription form #formMsg {
	position: absolute;
	width: 445px;
	padding: 7px 12px;
	left: 0;
}

body#desinscription form #formMsg.good {
	bottom: 0px;
}

body#desinscription form #formMsg.error {
	top: 135px;
}


/* -------------------------------- Animation -----------------------------------*/

#cache {
	background: #000;
	-moz-box-shadow: 0px -15px 20px 15px #000;
	-webkit-box-shadow: 0px -15px 20px 15px #000;
	-o-box-shadow: 0px -15px 20px 15px #000;
	box-shadow: 0px -15px 20px 15px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=90, Strength=15);
	box-shadow: ;
	position: absolute;
	width:100%;
	height:200px;
	z-index: 15;
}

#animLogo {
	position: absolute;
	z-index: 1001;
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
}

#animLogo #canvas {
	position: relative;
	width:250px;
	height:250px;
	margin:0 auto;
	top:60%;
}

#animLogo #canvas canvas {
	position: absolute;
}